/*
0 - 600             (Phone)
600 - 900px         Tablet (Portrait)
900 - 1200px        Tablet (Landscape)
1200 - 1800px       (Normal)
1800px++            (Big Screen)
*/
/*
$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 50%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 45%;
  }
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 30%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: "lemonmilk";
  src: url(../fonts/LemonMilkbold.otf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "lemonmilk";
  src: url(../fonts/LemonMilk.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lemonmilk";
  src: url(../fonts/LemonMilkbolditalic.otf) format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "lemonmilk";
  src: url(../fonts/LemonMilkitalic.otf) format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "lemonmilk";
  src: url(../fonts/LemonMilklight.otf) format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "lemonmilk";
  src: url(../fonts/LemonMilklightitalic.otf) format("truetype");
  font-weight: lighter;
  font-style: italic;
}

html {
  font-family: "Ubuntu", "lemonmilk", "Inter", sans-serif;
}

.nav__brand__text {
  font-size: 3.6rem;
}

.nav__list__item {
  font-size: 1.8rem;
  font-weight: 400;
}

.heading__1 {
  font-size: 9.6rem;
  line-height: 10rem;
}

.heading__2 {
  font-size: 4.8rem;
}

.heading__3 {
  font-size: 3.6rem;
}

.heading__3--underline::after {
  content: "";
  display: block;
  width: 25.5rem;
  height: 10px;
  background: linear-gradient(85.98deg, #ff6b00 11.55%, #ffb800 91.18%);
  border-radius: 70px;
}

.heading__4 {
  font-size: 2.4rem;
}

.heading__5 {
  color: white;
  text-shadow: 0px 2.25px 1px rgba(90, 39, 10, 0.4);
  font-size: 1.8rem;
  letter-spacing: 9%;
}

.paragraph-default {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 0.2rem;
}

.paragraph-default-2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

.button-primary {
  font-size: 1.8rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mt-sm {
  margin-top: 2rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.mt-md {
  margin-top: 4rem;
}

.mb-large {
  margin-bottom: 8rem;
}

.mt-large {
  margin-top: 8rem;
}

.ms-sm {
  margin-left: 2rem;
}

.me-sm {
  margin-right: 2rem;
}

.ms-md {
  margin-left: 4rem;
}

.me-md {
  margin-right: 4rem;
}

.ms-large {
  margin-left: 8rem;
}

.me-large {
  margin-right: 8rem;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.row-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.text-align-start {
  text-align: start;
}

.text-align-end {
  text-align: end;
}

.button-primary {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffb341), to(#ffd644));
  background: linear-gradient(to bottom, #ffb341, #ffd644);
  color: white;
  border-radius: 4rem;
  padding: 1.2rem 2.5rem;
}

@media only screen and (max-width: 37.5em) {
  .button-primary {
    padding: 1.2rem 2rem;
  }
}

.nav {
  width: 100%;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1;
  padding: 0 30rem;
  background-color: white;
}

.nav__brand img {
  width: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav__list {
  list-style-type: none;
  cursor: pointer;
}

.nav__list__item {
  display: inline-block;
}

.nav__list__item a {
  text-decoration: none;
  color: #494949;
}

.nav__list__item:not(:last-child) {
  margin-right: 5rem;
}

.header {
  width: 100%;
  height: 80rem;
  background: linear-gradient(241.55deg, #ffb341 36.82%, #ffd644 74.5%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__title {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.header__pictures {
  width: 35%;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.footer {
  width: 100%;
  background-color: #3e3e3e;
  padding: 7rem 25rem;
  color: white;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content img {
  height: 6.6rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__detail > *:not(:last-child) {
  margin-right: 3rem;
}

.footer__BGDC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.footer__BGDC h1 {
  font-size: 2.6rem;
}

.footer__BGDC h2 {
  font-size: 1.4rem;
}

.footer__BGDC img {
  width: 8.5rem;
  margin-right: 1rem;
}

.footer__address {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.4rem;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link a {
  color: white;
  text-decoration: none;
}

.footer__others {
  margin-top: 7rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__others p {
  font-size: 1.4rem;
}

.footer__soc-med {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__soc-med img {
  width: 2.2rem;
}

.footer__soc-med a:not(:last-child) {
  margin-right: 1rem;
}

.section-about {
  width: 100%;
  margin-top: 10rem;
}

.section-about .heading-3 {
  margin-bottom: 4rem;
}

.section-about__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 35rem;
  text-align: center;
}

.section-about__content--mt {
  margin-top: 25rem !important;
}

.section-about__content:not(:last-child) {
  margin-bottom: 15rem;
}

.section-about__content .misi-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-about__content .misi-content-container .hexagon-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.section-about__content .misi-content-container .hexagon-content--down {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.section-about__content .misi-content-container .hexagon-content:not(:last-child) {
  margin-right: 3rem;
}

.section-about__content .misi-content-container img {
  width: 70%;
}

.section-about .aktivitas-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: start;
}

.section-about .aktivitas-container img {
  margin-right: 8rem;
}

.section-about .aktivitas-container--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-about .aktivitas-container--reverse img {
  margin-left: 8rem !important;
  margin-right: 0;
}

/*=========KEGITATAN KAMI==========*/
.section-kegiatan-kami {
  text-align: center;
  margin: 0 auto;
  max-width: 1440px;
}

.section-kegiatan-kami .section-header > p {
  margin-top: 2rem;
}

.section-kegiatan-kami h2 {
  color: #494949;
}

.section-kegiatan-kami h4 {
  color: #494949;
}

.section-kegiatan-kami p {
  color: #5a5a5a;
}

.section-kegiatan-kami .section-content {
  display: -ms-grid;
  display: grid;
  width: inherit;
  margin: 10rem auto;
  padding: 0 20%;
  gap: 8rem;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

@media only screen and (max-width: 37.5em) {
  .section-kegiatan-kami .section-content__hexagon svg {
    width: 23rem;
  }
}

.section-kegiatan-kami .section-content__hexagon > p {
  margin-top: 1rem;
}

.section-kegiatan-kami .section-content__hexagon > h4 {
  margin-top: 4rem;
}

.section-kegiatan-kami .section-footer {
  width: inherit;
  display: -ms-grid;
  display: grid;
  margin: 10rem auto;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.section-kegiatan-kami .section-footer__content:not(:last-child) {
  border-right: 2px solid #d7d7d7;
}

.section-kegiatan-kami .section-footer__content h4 {
  font-weight: 500;
}

.section-kegiatan-kami .section-footer__content h2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb341), to(#ffd644));
  background-image: linear-gradient(to bottom, #ffb341, #ffd644);
  display: inline-block;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-top: 2rem;
}

/*=========KEGITATAN KAMI==========*/
/*=========Acara BGDC==========*/
.section-acara-bgdc {
  width: 100%;
  background: url("../assets/img/landing/bg-stuff-acara-bot.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0;
  padding-bottom: 10%;
}

@media only screen and (max-width: 56.25em) {
  .section-acara-bgdc {
    padding-bottom: 15rem;
  }
}

.section-acara-bgdc .acara-bgdc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Ubuntu";
  max-width: 1440px;
  margin: 0 auto;
  /* Acara BGDC container (foto dan judul acara */
}

.section-acara-bgdc .acara-bgdc h2,
.section-acara-bgdc .acara-bgdc h4 {
  color: #494949;
}

.section-acara-bgdc .acara-bgdc p {
  color: #5a5a5a;
}

.section-acara-bgdc .acara-bgdc h3 {
  color: #494949;
  font-weight: 500;
}

.section-acara-bgdc .acara-bgdc .card-list {
  margin: 10rem 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-acara-bgdc .acara-bgdc .card-list .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
}

.section-acara-bgdc .acara-bgdc .card-list .card-container:not(:last-child) {
  margin-bottom: 4rem;
}

.section-acara-bgdc .acara-bgdc .card-list .card-container .card-image {
  border-radius: 1rem;
  margin-right: 3rem;
  width: 30rem;
  background-size: cover;
}

.section-acara-bgdc .acara-bgdc .card-list .card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-acara-bgdc .acara-bgdc .card-list .card-container .card h3 {
  margin-bottom: 1rem;
}

.section-acara-bgdc .acara-bgdc .card-list .card-container .card p {
  letter-spacing: 2px;
  font-weight: 500;
  color: #494949;
}

.section-acara-bgdc .acara-bgdc .card-list .card-container .card__tag {
  background-color: #fff1bf;
  border-radius: 25px;
  color: #bd7635;
  padding: 0.75rem 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.section-acara-bgdc .acara-bgdc .program-kerja {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

@media only screen and (max-width: 56.25em) {
  .section-acara-bgdc .acara-bgdc .program-kerja {
    width: 80%;
  }
}

.section-acara-bgdc .acara-bgdc .program-kerja__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-acara-bgdc .acara-bgdc .program-kerja__item {
  background-color: #fff1bf;
  color: #bd7635;
  border-radius: 25px;
  margin: 1.2rem 0.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1rem 2rem;
}

.section-acara-bgdc .acara-bgdc .partner-bgdc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10rem;
}

.section-acara-bgdc .acara-bgdc .partner-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section-acara-bgdc .acara-bgdc .partner-photo img {
  width: 15rem;
}

.section-acara-bgdc .acara-bgdc .partner-photo img:not(:last-child) {
  margin-right: 3rem;
}

/*======END Acara BGDC==========*/
.section-background {
  width: 100vw;
  background-color: #f9f9f9;
}

/*======JOIN SECTION==========*/
.section-join {
  font-family: "Ubuntu", sans-serif;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 25rem;
  margin: 0 auto;
  color: #5a5a5a;
}

@media only screen and (max-width: 75em) {
  .section-join {
    padding: 5rem 15rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .section-join {
    padding: 5rem 10rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .section-join {
    padding: 5rem 5rem;
  }
}

.section-join .heading-2 {
  color: #494949;
}

.section-join__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20rem;
}

.section-join__head .button-container > *:not(:last-child) {
  margin-right: 2rem;
}

.section-join__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 37.5em) {
  .section-join__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.section-join__container--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.section-join__container--reverse .section-join__content {
  margin-left: 0rem !important;
  margin-right: 8rem !important;
}

@media only screen and (max-width: 37.5em) {
  .section-join__container--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-join__container img {
  width: 50rem;
  background-size: cover;
}

@media only screen and (max-width: 75em) {
  .section-join__container img {
    width: 40rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .section-join__container img {
    width: 35rem;
  }
}

.section-join__container .section-join__content {
  margin-left: 8rem;
}

@media only screen and (max-width: 37.5em) {
  .section-join__container .section-join__content {
    margin-left: 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .section-join__container .section-join__content h2 {
    margin-top: 3rem;
  }
}

.section-join__container .section-join__content p {
  padding-right: 5rem;
}

@media only screen and (max-width: 56.25em) {
  .section-join__container .section-join__content p {
    padding-right: 0rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .section-join__container .section-join__content p {
    padding-right: 0rem;
  }
}

.section-join__container .section-join__content > *:not(:last-child) {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .section-join__container .section-join__content > *:not(:last-child) {
    margin-bottom: 5rem;
  }
}

.section-join .aktivis-review {
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}

.section-join .aktivis-review p {
  font-weight: 300;
}

.section-join .aktivis-review .review-card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 1.5rem;
  padding: 3rem;
}

.section-join .aktivis-review .review-card__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.section-join .aktivis-review .review-card__profile img {
  border-radius: 50%;
  width: 5rem;
}

.section-join .aktivis-review .review-card__profile__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-join .aktivis-review .review-card__profile__detail .profile-name {
  font-weight: 600;
  color: #5a5a5a;
  font-size: 1.8rem;
}

.section-join .aktivis-review .review-card__profile__detail .profile-jabatan {
  font-weight: 400;
  color: #5a5a5a;
  font-size: 1.8rem;
}
/*# sourceMappingURL=main.css.map */