@font-face {
  font-family: "lemonmilk";
  src: url(../fonts/LemonMilkbold.otf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "lemonmilk";
  src: url(../fonts/LemonMilk.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lemonmilk";
  src: url(../fonts/LemonMilkbolditalic.otf) format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "lemonmilk";
  src: url(../fonts/LemonMilkitalic.otf) format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "lemonmilk";
  src: url(../fonts/LemonMilklight.otf) format("truetype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "lemonmilk";
  src: url(../fonts/LemonMilklightitalic.otf) format("truetype");
  font-weight: lighter;
  font-style: italic;
}

html {
  font-family: "lemonmilk", "Inter", sans-serif;
  font-size: 62.5%;
}

.nav {
  &__brand {
    &__text {
      font-size: $medium-font-size;
    }
  }
  &__list {
    &__item {
      font-size: $default-font-size;
    }
  }
}

.header .heading__1 {
  font-size: $large-font-size;
  line-height: 10rem;
  color: white;
  text-shadow: $header-text-shadow;
}

.header {
  & .heading__4 {
    color: white;
    text-shadow: $header-name-text-shadow;
    font-size: $default-font-size;
    letter-spacing: 9%;
  }
}

.heading-3 {
  font-size: $medium-font-size;
  //   line-height: 1.05px;
  letter-spacing: 0.2rem;
}
.paragraph-default {
  font-family: "Inter", sans-serif;
  font-size: $default-font-size;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 0.2rem;
}
