.header {
  width: 100%;
  height: 80rem;
  background: linear-gradient(
    241.55deg,
    $color-primary 36.82%,
    $color-primary-dark 74.5%
  );
  //polygon(0 0, 100% 0, 100% 90%, 50% 75%, 0 90%);

  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  &__title {
    transform: translateY(-20%);
  }
  &__pictures {
    width: 35%;
    transform: translateY(-20%);
  }
}
