.section-about {
  width: 100%;
  margin-top: 10rem;
  & .heading-3 {
    margin-bottom: 4rem;
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 35rem;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 15rem;
    }

    & .misi-content-container {
      display: flex;
      justify-content: center;

      & .hexagon-content {
        width: fit-content;
        &--down {
          transform: translateY(20%);
        }
        &:not(:last-child) {
          margin-right: 3rem;
        }
      }
      & img {
        width: 70%;
      }
    }
  }
}
