$color-primary-dark: #ffb341;
$color-primary-light: #ffd644;

$text-shadow: 0px 1.5px 2px rgba(0, 0, 0, 0.2);
$header-text-shadow: 0px 5px 0px rgba(90, 39, 10, 0.3);
$header-name-text-shadow: 0px 2.25px 1px rgba(90, 39, 10, 0.4);
$default-font-size: 1.8rem;
$medium-low-font-size: 2.4rem;
$medium-font-size: 3.6rem;
$medium-large-font-size: 4.8rem;
$large-font-size: 9.6rem;

$base-default-font-size: 50%;
$base-large-font-size: 62.5%;

$small: 2rem;
$medium: 4rem;
$large: 8rem;

//landing variable
$white-gray: #f9f9f9;
$lighter-gray: #5a5a5a;
$dark-gray: #494949;
$darker-gray: #3e3e3e;
